
.sample-group-row {
  padding: 50px 20px;
  border-top: solid 1px #DDD;
}

.attr-key {
  text-align: right;
  vertical-align: top;
  line-height: 1.1;
  padding-bottom: 0.4em;
  color: #555;
}

.attr-val {
  padding-left: 6px;
  vertical-align: bottom;
  line-height: 1.1;
  padding-bottom: 0.4em;
}

.term-cell {
  text-align: center;
}


.term-cell-header, .attribute-cell-header {
  color: #777;
  font-size: 80%;
  padding-bottom: 8px;
  text-align: center;
}
.attribute-cell-header {
  text-align: center;
}


.sample-label {
  font-size: 160%;
  color: #333;
}

.sample-type-label {
  color: #666;
  margin-top: -8px;
  margin-bottom: 8px;
  line-height: 1.2;
}

.btn-sample {
  display: inline-block;
  color: #C0178C;
  border: solid 1px #C0178C;
  border-bottom: solid 5px;
  background-color: #FFF;
  text-align: left;
  margin-bottom: 6px;
  padding-bottom: 4px;
  white-space: normal;
  line-height: 1.2;
  float: left;
  clear: both;
}
.btn-sample:hover {
  border-color: #EC0C8E;
  color: #EC0C8E;
}

.sample-name {
  font-weight: bold;
}


a.show-all-samples {
  color: #C0178C;
  cursor: pointer;
  display: inline-block;
  float: left;
  clear: both;
}
a.show-all-samples:hover {
  color: #EC0C8E;
  text-decoration: underline;
}
