.studybox {
  background-color: #FBFBFB;


  margin-bottom: 10px;
  border: 1px #CCC solid;
  border-radius: 5px;

  -webkit-box-shadow: 2px 2px 5px 1px rgba(200,200,200,0.3);
  -moz-box-shadow: 2px 2px 5px 1px rgba(200,200,200,0.3);
  box-shadow: 2px 2px 5px 1px rgba(200,200,200,0.3);
}




.study-info {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #FFF;
}

a.study-title {
  font-size: 140%;
  color: #000;
}
a.study-title:hover {
  color: #000;
  text-decoration: underline;
}

.sample-summary-row {
  margin-bottom: 10px;
}



.sample-count-cell {
  background-color: #FFF;
  padding-right: 0;
}
.show-samples-button {
  vertical-align: middle;
  margin-left: 10px;
}
.sample-count-label {
  font-size: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.sample-count {
  font-size: 200%;
  display: block;
  line-height: 1;
}




.study-terms-cell {
  text-align: left;
  background-color: #FFF;
}
.study-terms-cell-header {
  color: #777;
  font-size: 80%;
  text-align: left;
}




a.show-all-samples {
  color: #C0178C;
  font-size: 140%;
  cursor: pointer;
}
a.show-all-samples:hover {
  color: #EC0C8E;
  text-decoration: underline;
}
