.studybox {
  background: #FFF;

  margin-bottom: 10px;
  border: 1px #CCC solid;
  border-radius: 5px;
  padding: 40px 20px;

  -webkit-box-shadow: 2px 2px 5px 1px rgba(200,200,200,0.3);
  -moz-box-shadow: 2px 2px 5px 1px rgba(200,200,200,0.3);
  box-shadow: 2px 2px 5px 1px rgba(200,200,200,0.3);
}

span.study-label {
  font-size: 120%;
  color: #777;
}

a.study-id {
  font-size: 120%;
  padding-left: 20px;
}


a.show-all-samples {
  color: #C0178C;
  font-size: 140%;
  cursor: pointer;
}
a.show-all-samples:hover {
  color: #EC0C8E;
  text-decoration: underline;
}
