.btn-download {
  color: #fff;
  background-color: #C0178C;
  position: relative;
  bottom: 16px;
  padding-left: 40px;
  background-image: url('assets/icons/icon-download.png');
  background-repeat: no-repeat;
  background-position: 18px center;
}

.btn-download:hover {
  background-color: #EC0C8E;
}

.result-description {
  margin-top: 70px;
  margin-bottom: 40px;
  padding-left: 4px;
  font-size: 135%;
}

.expand-terms-list-btn {
  margin-bottom: 2px;
}

.result-term-list {
  margin-bottom: 40px;
  padding-left: 4px;
}

.pagination-widget {
  margin-top: 50px;
}



.examples {
  margin-top: 30px;
}

.examples li {
  margin-top: 10px;
}

.examples .btn {
  pointer-events: none;
}

.examples .sample-type-tag {
  color: #FFF;
  background-color: #555;
}
