.btn-download {
  position: relative;
  bottom: 6px;
  padding-left: 40px;
  background-image: url('assets/icons/icon-download.png') !important;
  background-repeat: no-repeat;
  background-position: 18px center;
}

.result-description {
  margin-top: 80px;
  margin-bottom: 60px;
  padding-left: 4px;
  font-size: 180%;
}

.expand-terms-list-btn {
  margin-bottom: 2px;
}

.result-term-list {
  margin-bottom: 40px;
  padding-left: 4px;
}

.pagination-widget {
  margin-top: 50px;
}



.examples {
  margin-top: 30px;
}

.examples li {
  margin-top: 10px;
}


a.example {
  cursor: pointer;
}
a.example:hover {
  color: #C0178C;
}

.examples .sample-type-tag {
  color: #FFF;
  background-color: #555;
}
