.btn-download {
  color: #fff;
  background-color: #C0178C;
  position: relative;
  bottom: 16px;
}

.btn-download:hover {
  background-color: #EC0C8E;
}

.result-description {
  margin-top: 50px;
  margin-bottom: 10px;
  padding-left: 4px
}
