<div id="search-controls">
  <div id="search-controls-title">
    Find human RNA-seq samples
    <img src="assets/icons/question.svg"
      style="height:20px; width: 20px; vertical-align: top; opacity: 0.8"
      [ngbPopover]="promptHelpPopup"
      triggers="mouseenter:mouseleave"
      />
    <ng-template #promptHelpPopup>
      <div style="max-width: 300px;">
        The MetaSRA currently annotates each human RNA-seq sample in the Sequence Read Archive (SRA) using standardized terms from biomedical ontologies. Future releases of the MetaSRA will include samples from other species and assays.
      </div>
    </ng-template>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-form-label" style="padding-right: 0">
      matching <b>all</b> of these <span style="white-space:nowrap">terms:&nbsp;<img
        src="assets/icons/question.svg"
        style="height:20px; width: 20px; vertical-align: text-bottom; opacity: 0.8; display: inline"
        [ngbPopover]="termHelpPopup"
        triggers="mouseenter:mouseleave"
        placement="right"
        /></span>
      <ng-template #termHelpPopup>
        <div style="width: 450px; padding: 15px 10px; padding-bottom: 0">
          <div style="font-size: 120%; font-weight: bold; line-height: 1.2">Search samples using standardized ontology terms</div>
          <p>Autocomplete will help you find terms</p>
          <ul class="ontology-list">
            <li><div class="ontology-dot ontology-dot-UBERON">&nbsp;</div> Uber Anatomy Ontology</li>
            <li><div class="ontology-dot ontology-dot-DOID">&nbsp;</div> Disease Ontology</li>
            <li><div class="ontology-dot ontology-dot-CVCL">&nbsp;</div> Cellosaurus Cell Line Ontology</li>
            <li><div class="ontology-dot ontology-dot-CL">&nbsp;</div> Cell Ontology</li>
            <li><div class="ontology-dot ontology-dot-EFO">&nbsp;</div> Experimental Factor Ontology</li>
          </ul>
        </div>
      </ng-template>
    </div>
    <div class="col-lg-9">
      <term-input
        #andterms
        [terms]="sampleQuery?.and"
        (termAdd)="this.sampleQueryService.addANDTerm($event.term)"
        (termRemove)="this.sampleQueryService.removeANDTerm($event.term)">
      </term-input><br />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-form-label">
      but <b>none</b> of these <span style="white-space:nowrap">terms:&nbsp;<img
        src="assets/icons/question.svg"
        style="height:20px; width: 20px; vertical-align: text-bottom; opacity: 0.8; display: inline"
        [ngbPopover]="termHelpPopup"
        triggers="mouseenter:mouseleave"
        placement="right"
        /></span>
    </div>
    <div class="col-lg-9">
      <term-input
        #notterms
        [terms]="sampleQuery?.not"
        (termAdd)="this.sampleQueryService.addNOTTerm($event.term)"
        (termRemove)="this.sampleQueryService.removeNOTTerm($event.term)">
      </term-input><br /><br />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-form-label">
      Sample type:
    </div>
    <div class="col-lg-9">
      <div ngbRadioGroup name="sampleType" class="sample-type-buttongroup"
        (change)="this.sampleQueryService.updateSampleType($event.target.value)"
        [(ngModel)]="selectedSampleType">
        <label ngbButtonLabel class="btn-sampletype btn-sm">
           <input ngbButton type="radio" [value]="null">All
        </label><label
          *ngFor="let sampleType of sampleTypes"
          ngbButtonLabel
          class="btn-sampletype btn-sm">
           <input ngbButton type="radio" [value]="sampleType">{{ sampleType }}
        </label>
      </div>
    </div>
  </div>
  <a id="reset-query" class="btn btn-sm btn-outline-secondary" (click)="sampleQueryService.resetQuery()">RESET</a>
</div>
