div#search-controls {
  background-color: #333333;
  color: white;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 16px;
}

div#search-controls-title {
  font-size: 160%;
  padding-bottom: 20px;
}
