div#search-controls {
  background-color: #333333;
  color: white;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 16px;
}

div#search-controls-title {
  font-size: 185%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.col-form-label {
  font-size: 115%;
}

.btn-sampletype {
  margin-left: 4px;
  margin-bottom: 4px;
  color: #fff;
  background-color: #555;
}

.btn-sampletype.active {
  color: #fff;
  background-color: #C0178C;
}

.btn-sampletype:hover {
  background-color:  #C0178C;
}

.btn-sampletype.focus {
  box-shadow: 0 0 0 2px rgba(193, 23, 140, 0.6);
}
