<div id="search-controls">
  <div id="search-controls-title">
    Find sequence-read samples
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-form-label">
      matching <b>all</b> of these terms:
    </div>
    <div class="col-lg-9">
      <term-input #andterms [terms]="sampleQuery?.and" (termChange)="this.sampleQueryService.updateANDTerms($event.terms)"></term-input><br />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-form-label">
      and <b>none</b> of these terms:
    </div>
    <div class="col-lg-9">
      <term-input #notterms [terms]="sampleQuery?.not" (termChange)="this.sampleQueryService.updateNOTTerms($event.terms)"></term-input><br /><br />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-3 col-form-label">
      Sample type:
    </div>
    <div class="col-lg-9">
      <div ngbRadioGroup name="sampleType" class="sample-type-buttongroup"
        (change)="this.sampleQueryService.updateSampleType($event.target.value)"
        [(ngModel)]="selectedSampleType">
        <label ngbButtonLabel class="btn-primary btn-sm">
           <input ngbButton type="radio" [value]="null">All
        </label><label
          *ngFor="let sampleType of sampleTypes"
          ngbButtonLabel
          class="btn-primary btn-sm">
           <input ngbButton type="radio" [value]="sampleType">{{ sampleType }}
        </label>
      </div>
    </div>
  </div>
</div>
