<div [class]="'btn-group term-tag ' + buttonClasses" role="group">
  <div
    [class]="buttonClasses + ' btn hilight-' + term.ids[0].split(':')[0]"
    [ngbPopover]="popOver"
    #p="ngbPopover"
    triggers="manual"
    (click)="this.closePopoverService.registerPopover(p); p.open(); lookupTerm()"
    tabindex="0">
    {{ term.name }}
  </div>
  <div
    *ngIf="removeButton"
    [class]="buttonClasses + ' btn hilight-' + term.ids[0].split(':')[0]"
    (click)="closeClick()">
    &times;
  </div>
</div>


<ng-template #popOver>
  <div class="term-popover-container">
  <div class="term-name">{{ term.name }}</div>

  <div *ngIf="expandedTerm == null">
    Loading...
  </div>

  <div *ngIf="expandedTerm != null" class="synonyms">
    {{expandedTerm.syn}}
  </div>

  <button class="btn btn-requireterm" (click)="this.sampleQueryService.addANDTerm(term)">Require this term</button>
  <button class="btn btn-excludeterm" (click)="this.sampleQueryService.addNOTTerm(term)">Exclude this term</button>

  <div class="term-disclaimer">computationally-extracted ontology term</div>
  </div>
</ng-template>
