.term-tag {
  margin-bottom: 2px;
  padding: 0;
}

.term-tag .close {
  opacity: 1;
  text-shadow: inherit;
}

.term-popover-container {
  text-align: center;
  min-width: 360px;
  padding: 30px;
}

.term-name {
  font-size: 240%;
  line-height: 1.2;
  margin-bottom: 20px;
}

.synonyms {
  font-size: 90%;
  color: #555;
  line-height: 1.2;
  margin-bottom: 20px;
  max-height: 120px;
  overflow-y: auto;
}


.btn.btn-requireterm, .btn.btn-excludeterm {
  color: #fff;
  background-color: #C0178C;
  padding-left: 40px;
  padding-right: 20px;
  margin-bottom: 8px;
  background-repeat: no-repeat;
  background-position: 14px 9px;
}
.btn.btn-requireterm {
  margin-top: 30px;
}

.btn.btn-requireterm:hover, .btn.btn-excludeterm:hover {
  background-color: #EC0C8E;
}

.btn.btn-requireterm {
  background-image: url('assets/icons/require.png')
}
.btn.btn-excludeterm {
  background-image: url('assets/icons/exclude.png');
}


.in-ontologies-label {
  color: '#666';
  font-size: 90%;
}
.ontology-dot {
  font-size: 300%;
  vertical-align: -5px;
  line-height: 0;
}
a.term-id {
  display:inline-block;
  margin: 1px;
  color: #007bff;
}
a.term-id:hover {
  color: #0056b3;
  text-decoration: none;
}
