.term-tag .close {
  opacity: 1;
  text-shadow: inherit;
}

.term-tag {
  padding-right: 4px;
  padding-bottom: 2px;
}



::ng-deep term-input .dropdown-item.active, ::ng-deep term-input .dropdown-item:active {
  /* override default hilighting */
  background-color: #FFF !important;
  color: inherit !important;
}

::ng-deep term-input .dropdown-item {
  background: #FFF;

  margin-bottom: 8px;
  border: 1px #888 solid;
  border-radius: 5px;

  -webkit-box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.4);
  box-shadow: 3px 2px 8px 1px rgba(0,0,0,0.4);
}

::ng-deep term-input .dropdown-menu {
  border: 0;
  background-color: rgba(0,0,0,0);
}

.autocomplete-item {
  white-space: normal;
  background: white;
  width: 600px; /*TODO*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-sm.related-term {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 1px;
  transition: 0s;
}
.btn-sm.related-term:hover {
  transition: 0s;
}

.btn-lg {
  margin-top: 10px;
  margin-bottom: 10px;
}


.term-descendents-label, .term-ancestors-label {
  float: right;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 80%;
  padding-right: 22px;
  min-height: 18px;
}
.term-descendents-label {
  background-image: url('assets/icons/more-specific.png');
}
.term-ancestors-label {
  background-image: url('assets/icons/less-specific.png');
}


.ontology-list li {
  list-style-type: none;
  padding-top: 4px;
}
.ontology-dot {
  font-size: 300%;
  vertical-align: -5px;
  line-height: 0;
}
