body {
  background-color: #F3F3F3;
  padding-bottom: 100px;
}

div#header-title {
  margin-top: 70px;
  margin-bottom: 8px;
}

div#tagline {
  padding-left: 94px;
  color: #777;
  margin-bottom: 20px;
  font-size: 135%;
}
div#tagline a {
  color: #777;
  text-decoration: none;
  border-bottom: solid 2px #aaa;
  display: inline-block;
  line-height: 1;
}
div#tagline a:hover {
  color: #999;
  border-bottom: solid 2px #bbb;
}

.top-nav {
  margin-top: 10px;
}
.top-nav a:first-child {
  padding-left: 0;
}

.footer {
  margin-top: 100px;
  margin-bottom: 50px;
}



a {
  color: #C0178C;
}
a:hover {
  color: #EC0C8E;
}


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.btn {
  cursor: pointer;
}


/* Ontology term tag colors */
.hilight-UBERON { background-color: #ff9933; color: #000; }
.hilight-UBERON:hover { background-color: #ff7f00; }
.hilight-UBERON.related-term { background-color: #fff; border: solid 1px #ff9933; }
.hilight-UBERON.related-term:hover { background-color: #ff9933; }
.ontology-dot-UBERON { color: #ff9933 }

.hilight-EFO { background-color: #92d090; color: #000; }
.hilight-EFO:hover { background-color: #4daf4a; }
.hilight-EFO.related-term { background-color: #fff; border: solid 1px #92d090; }
.hilight-EFO.related-term:hover { background-color: #92d090; }
.ontology-dot-EFO { color: #92d090 }

.hilight-DOID { background-color: #f76e70; color: #000; }
.hilight-DOID:hover { background-color: #e02f31; }
.hilight-DOID.related-term { background-color: #fff; border: solid 1px #f76e70; }
.hilight-DOID.related-term:hover { background-color: #f76e70; }
.ontology-dot-DOID { color: #f76e70 }

.hilight-CL { background-color: #89b7dc; color: #000; }
.hilight-CL:hover { background-color: #468bc3; }
.hilight-CL.related-term { background-color: #fff; border: solid 1px #89b7dc; }
.hilight-CL.related-term:hover { background-color: #89b7dc; }
.ontology-dot-CL { color: #89b7dc }

.hilight-CVCL { background-color: #f2e940; color: #000; }
.hilight-CVCL:hover { background-color: #E0D610; }
.hilight-CVCL.related-term { background-color: #fff; border: solid 1px #f2e940; }
.hilight-CVCL.related-term:hover { background-color: #f2e940; }
.ontology-dot-CVCL { color: #f2e940 }


/* Override pager styles */
.page-link {
  color: #C0178C;
}
.page-link:focus, .page-link:hover {
  color: #EC0C8E;
  background-color: #f3f3f3;
}
.page-item.active .page-link {
  background-color: #C0178C;
  border-color: #C0178C;
}

.popover {
  max-width: initial;
  box-shadow: 0px 0px 8px 3px rgba(100,100,100,0.3);
}
