body {
  background-color: #F3F3F3;
}

div#header-title {
  color: #C0178C;
  font-family: Dosis;
  font-size: 600%;
  margin-top: 100px;
  font-weight: 200;
  line-height: 1.1;
}

div#header-tagline {
  color: #333;
  font-family: Dosis;
  font-size: 140%;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
}

a {
  color: #C0178C;
}
a:hover {
  color: #EC0C8E;
}


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.btn {
  cursor: pointer;
}


.hilight-UBERON { background-color: #ff7f00; color: #000; }
.hilight-UBERON:hover { background-color: #ff7f00; }
.hilight-UBERON.related-term { background-color: #fff; border: solid 1px #ff7f00; }
.hilight-UBERON.related-term:hover { background-color: #ff7f00; }

.hilight-EFO { background-color: #4daf4a; color: #000; }
.hilight-EFO:hover { background-color: #4daf4a; }
.hilight-EFO.related-term { background-color: #fff; border: solid 1px #4daf4a; }
.hilight-EFO.related-term:hover { background-color: #4daf4a; }

.hilight-DOID { background-color: #e41a1c; color: #000; }
.hilight-DOID:hover { background-color: #e41a1c; }
.hilight-DOID.related-term { background-color: #fff; border: solid 1px #e41a1c; }
.hilight-DOID.related-term:hover { background-color: #e41a1c; }

.hilight-CL { background-color: #377eb8; color: #000; }
.hilight-CL:hover { background-color: #377eb8; }
.hilight-CL.related-term { background-color: #fff; border: solid 1px #377eb8; }
.hilight-CL.related-term:hover { background-color: #377eb8; }

.hilight-CVCL { background-color: #E0D610; color: #000; }
.hilight-CVCL:hover { background-color: #E0D610; }
.hilight-CVCL.related-term { background-color: #fff; border: solid 1px #E0D610; }
.hilight-CVCL.related-term:hover { background-color: #E0D610; }
