body {
  background-color: #F3F3F3;
  padding-bottom: 100px;
}

div#header-title {
  color: #C0178C;
  font-family: Dosis;
  font-size: 600%;
  margin-top: 100px;
  font-weight: 200;
  line-height: 1.1;
}

div#header-tagline {
  color: #333;
  font-family: Dosis;
  font-size: 140%;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
}

a {
  color: #C0178C;
}
a:hover {
  color: #EC0C8E;
}


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.btn {
  cursor: pointer;
}


/* Ontology term tag colors */
.hilight-UBERON { background-color: #ff9933; color: #000; }
.hilight-UBERON:hover { background-color: #ff9933; }
.hilight-UBERON.related-term { background-color: #fff; border: solid 1px #ff9933; }
.hilight-UBERON.related-term:hover { background-color: #ff9933; }

.hilight-EFO { background-color: #92d090; color: #000; }
.hilight-EFO:hover { background-color: #92d090; }
.hilight-EFO.related-term { background-color: #fff; border: solid 1px #92d090; }
.hilight-EFO.related-term:hover { background-color: #92d090; }

.hilight-DOID { background-color: #f76e70; color: #000; }
.hilight-DOID:hover { background-color: #f76e70; }
.hilight-DOID.related-term { background-color: #fff; border: solid 1px #f76e70; }
.hilight-DOID.related-term:hover { background-color: #f76e70; }

.hilight-CL { background-color: #89b7dc; color: #000; }
.hilight-CL:hover { background-color: #89b7dc; }
.hilight-CL.related-term { background-color: #fff; border: solid 1px #89b7dc; }
.hilight-CL.related-term:hover { background-color: #89b7dc; }

.hilight-CVCL { background-color: #f2e940; color: #000; }
.hilight-CVCL:hover { background-color: #f2e940; }
.hilight-CVCL.related-term { background-color: #fff; border: solid 1px #f2e940; }
.hilight-CVCL.related-term:hover { background-color: #f2e940; }


/* Override pager styles */
.page-link {
  color: #C0178C;
}
.page-link:focus, .page-link:hover {
  color: #EC0C8E;
  background-color: #f3f3f3;
}
.page-item.active .page-link {
  background-color: #C0178C;
  border-color: #C0178C;
}
